header.wav
begin.wav
question.wav
{'c1.wav': ['红'], 'c2.wav': ['绿']}
c1.wav {'c3.wav': ['大'], 'c4.wav': ['小']}
c2.wav {'c5.wav': ['左'], 'c6.wav': ['右']}
c7.wav
c8.wav
{'c9.wav': ['上'], 'c10.wav': ['下']}
c9.wav end1.wav
c10.wav end2.wav
share
